<a href="https://colab.research.google.com/github/iPrinka/MITx-Micromasters-Statistics-Data-Science/blob/main/oneleague_stats_unit4_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### More with hypothesis tests and modeling

In [65]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.2
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
df <- read.csv('GRADES.csv')

In [ ]:
head(df)

  ID GPA   IQ  Gender SelfConcept
1 1  7.940 111 2      67
2 2  8.292 107 2      43
3 3  4.643 100 2      52
4 4  7.470 107 2      66
5 5  8.882 114 1      58
6 6  7.585 115 2      51

What hypothesis tests are possible with the data?  List out different ideas and perform these tests, clearly stating the null hypothesis.

In [ ]:
t.test(GPA ~ Gender, data=df)

	Welch Two Sample t-test

data:  GPA by Gender
t = 0.90553, df = 74.862, p-value = 0.3681
alternative hypothesis: true difference in means between group 1 and group 2 is not equal to 0
95 percent confidence interval:
 -0.4978876  1.3277078
sample estimates:
mean in group 1 mean in group 2
       7.696548        7.281638

In [ ]:
t.test(IQ ~ Gender, data=df)

	Welch Two Sample t-test

data:  IQ by Gender
t = -1.6439, df = 56.932, p-value = 0.1057
alternative hypothesis: true difference in means between group 1 and group 2 is not equal to 0
95 percent confidence interval:
 -11.354215   1.116741
sample estimates:
mean in group 1 mean in group 2
       105.8387        110.9574

In [ ]:
t.test(SelfConcept ~ Gender, data=df)

	Welch Two Sample t-test

data:  SelfConcept by Gender
t = -0.82764, df = 62.784, p-value = 0.411
alternative hypothesis: true difference in means between group 1 and group 2 is not equal to 0
95 percent confidence interval:
 -8.191000  3.393471
sample estimates:
mean in group 1 mean in group 2
       55.51613        57.91489

In [ ]:
t.test(GPA ~ Gender, data=df, alternative = 'greater')

	Welch Two Sample t-test

data:  GPA by Gender
t = 0.90553, df = 74.862, p-value = 0.184
alternative hypothesis: true difference in means between group 1 and group 2 is greater than 0
95 percent confidence interval:
 -0.3481962        Inf
sample estimates:
mean in group 1 mean in group 2
       7.696548        7.281638

#### Predicting Dropout

Below, a dataset containing information on college dropouts is loaded and displayed.  Your goal is to predict whether or a student will dropout or graduate.  First, you will use logistic regression and interpret the results of hypothesis tests on the coefficients.  Next, you will use `carat` to build a model that is most accurate.

In [66]:
dropout <- read.delim('college_dropout.csv', sep=';')

In [67]:
head(dropout)

  Marital.status Application.mode Application.order Course
1 1              17               5                  171
2 1              15               1                 9254
3 1               1               5                 9070
4 1              17               2                 9773
5 2              39               1                 8014
6 2              39               1                 9991
  Daytime.evening.attendance. Previous.qualification
1 1                            1
2 1                            1
3 1                            1
4 1                            1
5 0                            1
6 0                           19
  Previous.qualification..grade. Nacionality Mother.s.qualification
1 122.0                          1           19
2 160.0                          1            1
3 122.0                          1           37
4 122.0                          1           38
5 100.0                          1           37
6 133.1                          1           37
  Father.s.qualification ⋯ Curricular.units.2nd.sem..credited.
1 12                     ⋯ 0
2  3                     ⋯ 0
3 37                     ⋯ 0
4 37                     ⋯ 0
5 38                     ⋯ 0
6 37                     ⋯ 0
  Curricular.units.2nd.sem..enrolled. Curricular.units.2nd.sem..evaluations.
1 0                                    0
2 6                                    6
3 6                                    0
4 6                                   10
5 6                                    6
6 5                                   17
  Curricular.units.2nd.sem..approved. Curricular.units.2nd.sem..grade.
1 0                                    0.00000
2 6                                   13.66667
3 0                                    0.00000
4 5                                   12.40000
5 6                                   13.00000
6 5                                   11.50000
  Curricular.units.2nd.sem..without.evaluations. Unemployment.rate
1 0                                              10.8
2 0                                              13.9
3 0                                              10.8
4 0                                               9.4
5 0                                              13.9
6 5                                              16.2
  Inflation.rate GDP   Target
1  1.4            1.74 Dropout
2 -0.3            0.79 Graduate
3  1.4            1.74 Dropout
4 -0.8           -3.12 Graduate
5 -0.3            0.79 Graduate
6  0.3           -0.92 Graduate

In [87]:
describe(dropout)

ERROR: ignored

In [68]:
unique(dropout$Target)

[1] "Dropout"  "Graduate" "Enrolled"

In [74]:
clean_df <- filter(dropout, Target != 'Enrolled')

In [70]:
t.test(GDP~Target,data = clean_df)

	Welch Two Sample t-test

data:  GDP by Target
t = -3.0339, df = 3037.6, p-value = 0.002435
alternative hypothesis: true difference in means between group Dropout and group Graduate is not equal to 0
95 percent confidence interval:
 -0.3830777 -0.0823062
sample estimates:
 mean in group Dropout mean in group Graduate
           -0.15085855             0.08183341

In [75]:
clean_df$Num_Target <- ifelse(clean_df$Target == 'Dropout',1, 0)

In [78]:
lgr_model <- glm(Num_Target ~ GDP, data=clean_df, family='binomial')

In [77]:
summary(lgr_model)

Call:
glm(formula = Num_Target ~ GDP, family = "binomial", data = clean_df)

Coefficients:
            Estimate Std. Error z value Pr(>|z|)
(Intercept) -0.44271    0.03406 -12.998  < 2e-16 ***
GDP         -0.04545    0.01502  -3.025  0.00248 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4850.7  on 3628  degrees of freedom
AIC: 4854.7

Number of Fisher Scoring iterations: 4

In [80]:
#Inflation.rate - Fail to reject the null -> Inflation rate has no impact on Dropout rate

model2 <- glm(Num_Target ~ Inflation.rate, data=clean_df, family='binomial')
summary(model2)

Call:
glm(formula = Num_Target ~ Inflation.rate, family = "binomial",
    data = clean_df)

Coefficients:
               Estimate Std. Error z value Pr(>|z|)
(Intercept)    -0.49679    0.04581 -10.846   <2e-16 ***
Inflation.rate  0.04482    0.02454   1.827   0.0678 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4856.5  on 3628  degrees of freedom
AIC: 4860.5

Number of Fisher Scoring iterations: 4

In [82]:
#Unemployment.rate - Fail to reject the null -> Unemployment rate has no impact on Dropout rate

model3 <- glm(Num_Target ~ Unemployment.rate, data=clean_df, family='binomial')
summary(model3)

Call:
glm(formula = Num_Target ~ Unemployment.rate, family = "binomial",
    data = clean_df)

Coefficients:
                   Estimate Std. Error z value Pr(>|z|)
(Intercept)       -0.403675   0.152096  -2.654  0.00795 **
Unemployment.rate -0.003225   0.012752  -0.253  0.80032
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4859.8  on 3628  degrees of freedom
AIC: 4863.8

Number of Fisher Scoring iterations: 4

In [84]:
# Daytime.evening.attendance. - Reject null - Evening attendance has an impact

model4 <- glm(Num_Target ~ Daytime.evening.attendance., data=clean_df, family='binomial')
summary(model4)

Call:
glm(formula = Num_Target ~ Daytime.evening.attendance., family = "binomial",
    data = clean_df)

Coefficients:
                            Estimate Std. Error z value Pr(>|z|)
(Intercept)                  0.02941    0.09903   0.297    0.766
Daytime.evening.attendance. -0.53263    0.10549  -5.049 4.44e-07 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4834.5  on 3628  degrees of freedom
AIC: 4838.5

Number of Fisher Scoring iterations: 4

In [85]:
# Application.mode - Reject null - Application.mode has a significant impact

model5 <- glm(Num_Target ~ Application.mode , data=clean_df, family='binomial')
summary(model5)

Call:
glm(formula = Num_Target ~ Application.mode, family = "binomial",
    data = clean_df)

Coefficients:
                  Estimate Std. Error z value Pr(>|z|)
(Intercept)      -1.003117   0.053339  -18.81   <2e-16 ***
Application.mode  0.029199   0.002016   14.49   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4642.4  on 3628  degrees of freedom
AIC: 4646.4

Number of Fisher Scoring iterations: 4

In [88]:
## Marital Status -> Reject null  -> Significant impact
model6 <- glm(Num_Target ~ Marital.status , data=clean_df, family='binomial')
summary(model6)

Call:
glm(formula = Num_Target ~ Marital.status, family = "binomial",
    data = clean_df)

Coefficients:
               Estimate Std. Error z value Pr(>|z|)
(Intercept)    -0.83418    0.07544 -11.058  < 2e-16 ***
Marital.status  0.33053    0.05675   5.824 5.74e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4824.0  on 3628  degrees of freedom
AIC: 4828

Number of Fisher Scoring iterations: 4

In [90]:
##Educational.special.needs - Fail to reject -> no impact
model6 <- glm(Num_Target ~ Educational.special.needs, data=clean_df, family='binomial')
summary(model6)

Call:
glm(formula = Num_Target ~ Educational.special.needs, family = "binomial",
    data = clean_df)

Coefficients:
                          Estimate Std. Error z value Pr(>|z|)
(Intercept)                -0.4427     0.0342 -12.945   <2e-16 ***
Educational.special.needs   0.1405     0.3217   0.437    0.662
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4859.6  on 3628  degrees of freedom
AIC: 4863.6

Number of Fisher Scoring iterations: 4

In [92]:
## Course - reject Null -> Has an impact
model7 <- glm(Num_Target ~ Course, data=clean_df, family='binomial')
summary(model7)

Call:
glm(formula = Num_Target ~ Course, family = "binomial", data = clean_df)

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept) -1.151e-01  1.463e-01  -0.787   0.4313
Course      -3.688e-05  1.611e-05  -2.289   0.0221 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4854.6  on 3628  degrees of freedom
AIC: 4858.6

Number of Fisher Scoring iterations: 4

In [95]:
unique(clean_df$Course)

 [1]  171 9254 9070 9773 8014 9991 9500 9238 9670 9853 9085 9130 9147   33 9119
[16] 9003 9556



* Change Class Timings
* Course change
* Previous qualification grade -> revise admissions criteria

In [97]:
## Previous.qualification..grade - Reject null -> has an impact

model8 <- glm(Num_Target ~ Previous.qualification..grade., data=clean_df, family='binomial')
summary(model8)

Call:
glm(formula = Num_Target ~ Previous.qualification..grade., family = "binomial",
    data = clean_df)

Coefficients:
                                Estimate Std. Error z value Pr(>|z|)
(Intercept)                     1.855794   0.351622   5.278 1.31e-07 ***
Previous.qualification..grade. -0.017325   0.002646  -6.547 5.87e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4815.8  on 3628  degrees of freedom
AIC: 4819.8

Number of Fisher Scoring iterations: 4

In [96]:
colnames(dropout)

 [1] "Marital.status"
 [2] "Application.mode"
 [3] "Application.order"
 [4] "Course"
 [5] "Daytime.evening.attendance."
 [6] "Previous.qualification"
 [7] "Previous.qualification..grade."
 [8] "Nacionality"
 [9] "Mother.s.qualification"
[10] "Father.s.qualification"
[11] "Mother.s.occupation"
[12] "Father.s.occupation"
[13] "Admission.grade"
[14] "Displaced"
[15] "Educational.special.needs"
[16] "Debtor"
[17] "Tuition.fees.up.to.date"
[18] "Gender"
[19] "Scholarship.holder"
[20] "Age.at.enrollment"
[21] "International"
[22] "Curricular.units.1st.sem..credited."
[23] "Curricular.units.1st.sem..enrolled."
[24] "Curricular.units.1st.sem..evaluations."
[25] "Curricular.units.1st.sem..approved."
[26] "Curricular.units.1st.sem..grade."
[27] "Curricular.units.1st.sem..without.evaluations."
[28] "Curricular.units.2nd.sem..credited."
[29] "Curricular.units.2nd.sem..enrolled."
[30] "Curricular.units.2nd.sem..evaluations."
[31] "Curricular.units.2nd.sem..approved."
[32] "Curricular.units.2nd.sem..grade."
[33] "Curricular.units.2nd.sem..without.evaluations."
[34] "Unemployment.rate"
[35] "Inflation.rate"
[36] "GDP"
[37] "Target"

In [99]:
## Scholarship.holder - Reject null -> has an impact

model9 <- glm(Num_Target ~ Scholarship.holder, data=clean_df, family='binomial')
summary(model9)

Call:
glm(formula = Num_Target ~ Scholarship.holder, family = "binomial",
    data = clean_df)

Coefficients:
                   Estimate Std. Error z value Pr(>|z|)
(Intercept)        -0.06541    0.03879  -1.686   0.0917 .
Scholarship.holder -1.76418    0.10082 -17.498   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4464.9  on 3628  degrees of freedom
AIC: 4468.9

Number of Fisher Scoring iterations: 4

In [100]:
## International - Fail to Reject null -> no impact

model10 <- glm(Num_Target ~ International, data=clean_df, family='binomial')
summary(model10)

Call:
glm(formula = Num_Target ~ International, family = "binomial",
    data = clean_df)

Coefficients:
              Estimate Std. Error z value Pr(>|z|)
(Intercept)   -0.43921    0.03441 -12.764   <2e-16 ***
International -0.08404    0.22573  -0.372     0.71
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 4859.8  on 3629  degrees of freedom
Residual deviance: 4859.7  on 3628  degrees of freedom
AIC: 4863.7

Number of Fisher Scoring iterations: 4